.volumeContainer {
	position: relative;
}

.volume {
	position: absolute;
	top: -10.375rem;
	left: -0.75rem;
}

.volume__sliderContainer {
	width: 3.375rem;
	height: 9.375rem;
}

.volume__icon {
	width: 1.875rem;
	height: 1.875rem;
}

.volume__iconBlocker {
	position: absolute;
	top: 0;
	left: 0;
	width: 1.875rem;
	height: 1.875rem;
	background-color: transparent;
	cursor: pointer;
}

.volume__slider {
	-webkit-appearance: none;
	appearance: none;
	transform: rotate(-90deg);
	position: absolute;
	top: 4.375rem;
	left: -2.5rem;
	background: transparent;
	border: 2px solid var(--primary-color);
	width: 8.5rem;
	height: 0.5rem;
}

.volume__slider:focus {
	outline: none;
}

.volume__slider:focus::-webkit-slider-thumb {
	outline: 2px solid var(--primary-color);
}

.volume__slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.0625rem;
	height: 1.6875rem;
	outline: 2px solid var(--primary-color);
	border-radius: 0.3125rem;
	background: #f8ef00;
	cursor: pointer;
	position: relative;
}
